@media screen and (min-width: 401px) {
  .icon {
    margin-bottom: 4px;
  }
  .details-text {
    font-size: 0.9vw;
  }
  .carousel {
    height: 400px;
    width: auto;
  }
  .carousel-card {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 17px;
  }
  .aboutme-card {
    margin-top: 50px;
    margin-right: 17px;
  }
  .skills-card {
    margin-right: 17px;
  }
  .details-card {
    margin-bottom: 30px;
    margin-top: 50px;
    margin-left: 30px;
  }
  .navbar-container {
    margin-top: 25px;
  }
  .footer-card {
    margin-bottom: 30px;
  }
  .resume-card {
    margin-top: 50px;
    margin-right: 17px;
    margin-bottom: 40px;
  }
  .contact-card {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 17px;
  }
  .map {
    height: 300px;
    width: auto;
    display: flex;
  }
  .map-card {
    padding: 0px;
    border: none;
    margin: 0px;
    display: flex;
  }
}
@media screen and (max-width: 400px) {
  .details-text {
    font-size: 12px;
  }
  .carousel {
    height: 200px;
    width: auto;
  }
  .carousel-card {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .aboutme-card {
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
  }
  .skills-card {
    margin: 30px;
  }
  .details-card {
    margin-bottom: 30px;
    margin-right: 30px;
    margin-top: 30px;
    margin-left: 30px;
  }
  .navbar-container {
    width: 90%;
    margin: 10px;
  }
  .footer-card {
    margin: 20px;
    font-size: 3vw;
  }
  .resume-card {
    margin-left: 40px;
    margin-right: 40px;
    padding: 0px;
  }
  .contact-card {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .map {
    height: 200px;
    width: 200px;
  }
}

iframe {
  border: 0;
}
